.github-card {
  min-height: 80vh;
  font-size: calc(10px + 2vmin);
  .header {
    font-size: 2rem;
  }

  .github-profile {
    font-size: 1.25rem;
    img {
      width: 5em;
    }
  }

  .invisible-button {
    vertical-align: top;
    border: none;
    padding: inherit;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    font-weight: inherit;
    background-color: transparent;
    color: #000;
    &:hover {
      background-color: transparent;
    }
  }
}
