.github-card {
  min-height: 80vh;
  .header {
    font-size: 1.5rem;
  }

  .github-profile {
    font-size: 1.25rem;
    img {
      width: 5rem;
    }
  }

  .invisible-button {
    border: none;
    padding: inherit;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    font-weight: inherit;
    background-color: transparent;
    color: #000;
  }
}
