.todo-context {
  min-height: 80vh;

  .todo-item {
    background-color: rgb(240, 230, 230);
    color: #333;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
  }

  .edit-todo {
    cursor: pointer;
  }
}
